.input{
    width: 80%;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #f7d547;
    height: 40px;
    font-size: 14px;
    padding-left: 0px;
}

.input:focus
{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #49ccf9;
}