.button{
    font-weight: bold;
    min-width: 150px;
    background-color: #f7d547;
    box-shadow: 0 10px 25px #f7d54780;
    color: white;
    border: none;
    border-radius: 9px;
    padding:15px 24px;
}

.button:hover{
    background-color: #49ccf9;
    box-shadow: 0 10px 25px rgb(73 204 249 / 30%);
    color: white;
}



