.custom-container{
    max-width: 1366px;
    margin: auto;
    padding: 50px 20px;
}

.container-centered{
    width: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

a{
    text-decoration: none !important;
}


/* BUTTONS STYLES */
.button{
    font-weight: bold;
    min-width: 150px;
    color: white;
    border: none;
    border-radius: 9px;
    padding:15px 24px;
}

.isPrimary{
    background-color: #f7d547;
    box-shadow: 0 10px 25px #f7d54780;
}

.isSecondary{
    background-color: #fd71af;
    box-shadow: 0 10px 25px rgb(253 113 175 / 30%);
}

.isTertiary{
    background-color: #5c4dbc;
    box-shadow: 0 10px 25px rgb(123 104 238 / 50%);
}

.isPrimary:hover{
    background-color: #49ccf9;
    box-shadow: 0 10px 25px rgb(73 204 249 / 30%);
    color: white;
}

.isSecondary:hover{
    background-color: #5c4dbc;
    box-shadow: 0 10px 25px rgb(123 104 238 / 50%);
}

.isTertiary:hover{
    background-color: #fd71af;
    box-shadow: 0 10px 25px rgb(253 113 175 / 30%);
}

/* END BUTTONS STYLES */

.input{
    width: 80%;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #f7d547;
    height: 40px;
    font-size: 14px;
    padding-left: 0px;
}

.input:focus
{
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #49ccf9;
}