:root{
    --primary-color: #f7d547;
    --secondary-color: #fd71af;
    --third-color: #7b68ee;
    --fourth-color:#49ccf9;
    --body-color:#292d34;
    --heading-color:#292d34;
    --xxs:0.25rem;
    --xs:0.5rem;
    --sm:0.75rem;
    --m:1rem;
    --l:1.25rem;
    --xl:1.5rem;
    --xxl:1.75rem;
    --zl:2rem;
}
